body {
	background-image: url('pics/secback.jpg');
		background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
}
.glow {
  font-size: 19px;
  color: #fff;
  text-shadow: 0 0 10px #8B0000, 0 0 20px #8B0000, 0 0 30px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF4500, 0 0 60px #FF4500;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: inline-block;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0 0 10px white, 0 0 20px white;
}

li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  background-color: crimson;
  box-shadow: 0 0 10px red;
  color: black;
  text-shadow: 0 0 10px black, 0 0 20px black;
}

.div {
  display: flex;
  gap: 120px; 
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  
}
.sets {
  transition: transform 0.3s;
  margin-top: 10px; 
  
}
.sets:hover {
  transform: scale(1.03);
}
.imgs {
	height: 200px;
	width: auto;
	
	
}
.specs {
	height: 400px;
	width: auto;
}
.txtcard {
  color: white;
  text-shadow: 0 0 10px purple, 0 0 20px pink, 0 0 30px pink;
}
.bord {
	height: 185px;
max-width: 590px; /
    margin: 0 auto; 
    padding: 10px;
  border: 1px solid red;
  box-shadow: 0 0 10px red;
  background-color: crimson;
  font-family: "Lucida Console", "Courier New", monospace;
}
.txtcard2 {
  color: black;
  text-shadow: 0 0 10px purple;
}
.pp {
	color: white;
	text-shadow: 0 0 10px white;
	
	
}
footer {
  text-align: center;
  padding: 10px;
  color: red;
  margin-top: 20px;
  font-size: 17px;
  position: relative;
  z-index: 0;
  background-color: black;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: yellow;
}
.shire {
	height: 185px;
	width: 452px; /
    margin: 0 auto; 
    padding: 10px;
  border: 1px solid red;
  box-shadow: 0 0 10px red;
  background-color: crimson;
  font-family: "Lucida Console", "Courier New", monospace;
}
.shire2 {
	height: 185px;
	width: 513px; /
    margin: 0 auto; 
    padding: 10px;
  border: 1px solid red;
  box-shadow: 0 0 10px red;
  background-color: crimson;
  font-family: "Lucida Console", "Courier New", monospace;
}